{% extends 'admin/base_template.html' %}
{% load static %}
{% load get_item %}
{% load image_thumb %}
{% load field_data %}

{% block title %} Новости {% endblock %}


{% block page_title %} Новости {% endblock %}


{% block nav_ol %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item ">
        <a href="{% url 'news_list' %}">Новости</a>
    </li>
    <li class="breadcrumb-item active" aria-current="&quot;page&quot;">
        Создать
    </li>
</ol>
{% endblock %}

{% block content_width %} class="col-11" {% endblock %}

{% block css %} 
<style>
    .custom-tab > button {
        pointer-events: none;
    }

    .delete-data > * {
        pointer-events: none;
    }
</style>
{% endblock %}

{% block content %}
<form method="post" class="row" enctype="multipart/form-data" action="">
    {% csrf_token %}
    <input type="hidden" name="dropzone-key" value="{{ dropzone_key }}">
    <input type="hidden" name="url" value="{{ request.get_full_path }}">

    <div class="col-12 col-xl-8">
        <div class="card mt-3">
            <div class="crd-header p-4 pb-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    {% for lang in langs %}
                    {% if lang == langs.first %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-3 py-2 active" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                            data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                            aria-selected="true">{{ lang.name }}</button>
                    </li>
                    {% else %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link px-3 py-2" id="tab_{{ lang.id }}" data-bs-toggle="tab"
                            data-bs-target="#{{ lang.code }}" type="button" role="tab" aria-controls="{{ lang.code }}"
                            aria-selected="false">{{ lang.name }}</button>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="card-bodyb p-5">
                <div class="tab-content" id="myTabContent">
                    {% for lang in langs %}
                    <div {% if lang == langs.first %} class="tab-pane fade show active" {% else %} class="tab-pane fade" {% endif %} id="{{ lang.code }}" role="tabpanel"
                        aria-labelledby="{{ lang.code }}">
                        <div class="form-group">
                            <!-- Label  -->
                            <label {% if lang.default %} class="form-label required" {% else %} class="form-label" {% endif %}>
                                Загловок
                            </label>
                            <br>
                            <!-- Input -->
                            <input type="text" name="title#{{ lang.code }}" class="form-control" 
                            value="{% field_data field='title' lang=lang %}"
                            {% if lang.default %} required {% endif %}>
                            {% if lang.default %}
                            <div class="invalid-feedback" style="display: block;">
                                {% if errors.title %}
                                {{ errors.title|list_item:0 }}
                                {% endif %}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Project description -->
                        <div class="form-group">

                            <!-- Label -->
                            <label class="form-label mb-1">
                                Текст
                            </label>
                            <br>
                            <!-- Textarea -->
                            <textarea class="editor" name="text#{{ lang.code }}" placeholder="Text">{% if object.text and object.text|get_item:lang.code %}{{ object.text|get_item:lang.code}}{% elif request_post and request_post|get_item:'text' %}{{ request_post|get_item:'text'|get_item:lang.code }}{% endif %}</textarea>
                        </div>
                    </div>
                    {% endfor %}
                        <!-- Buttons -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-4">
        <div class="card mt-3">
            <div class="card-body p-4">
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Категория
                    </label>
                    <br>
                    <!-- Input -->
                    <select class="form-select mb-4" id="category-select" data-choices name="category">
                        <option value="">-----</option>
                        {% for ctg in relateds %}
                        {% if object and ctg == object.category %}
                        <option value="{{ ctg.id }}" selected> {{ ctg.title|get_item:lang.code }}</option>
                        {% elif request_post and ctg == request_post|get_item:'category' %}
                        <option value="{{ ctg.id }}" selected> {{ ctg.title|get_item:lang.code }}</option>
                        {% else %}
                        <option value="{{ ctg.id }}"> {{ ctg.title|get_item:lang.code }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback" id="ctg_error">
                        This field is required
                    </div>
                </div>                

                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Video url
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="url" value="{% field_data field='video_url' lang=lang %}" name="video_url" class="form-control" placeholder="Video url">
                </div>

                {% if object %}
                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label">
                        Дата
                    </label>
                    <br>
                    <!-- Input -->
                    <input type="text" disabled
                    {% if object.created_at %} value="{{ object.created_at|date:'Y-m-d' }}"    
                    {% endif %} class="form-control" id="date-input"  data-flatpickr='{"dateFormat": "Y-m-d"}'>
                </div>
                {% endif %}

                <div class="form-group">
                    <!-- Label  -->
                    <label class="form-label mb-1">
                        Обложка статьи
                    </label>

                    {% if object %}
                        <input type="hidden" id="id" name="id" value="{{ object.id }}">
                    {% else %}
                        <input type="hidden" id="id" value="None">
                    {% endif %}
                
                    <!-- Dropzone -->
                    <div class="dropzone dropzone-multiple border-0" data-max="1" data-delete="/admin/images/delete" data-url="/admin/images/save" data-key="{{ dropzone_key }}">
                        <!-- Fallback -->
                        <div class="dz-preview d-none"></div>
                        <div class="fallback">
                            <div class="custom-file">
                                <input type="file" name="file" class="form-control" id="customFileUploadMultiple">
                                <label class="form-label" for="customFileUploadMultiple">Choose file</label>
                            </div>
                        </div>
                    
                        <!-- Preview -->
                        <div class="dz-preview-container" id="article-image" style="padding: 0;">
                            {% if object %}
                                <div class="dz-preview dz-processing dz-complete dz-image-preview d-none" style="position: relative; margin: 0;">
                                    <div class="dz-image">
                                        <img data-dz-thumbnail="" src="" alt="">
                                    </div>
                                    <div class="dz-details">
                                        <div class="dz-filename"><span data-dz-name=""></span></div>
                                    </div>
                                    <a class="dz-remove" data-file="" data-dz-remove>Удалить</a>
                                </div>
                                {% if object.image %}
                                    <div class="dz-preview dz-processing dz-complete dz-image-preview" style="position: relative;">
                                        <div class="dz-image">
                                            <img data-dz-thumbnail="" src='{% image_thumb object.image alias="ten" request=request %}' alt="{{ object.image }}">
                                        </div>
                                        <div class="dz-details">
                                            <div class="dz-filename"><span data-dz-name="">{{ object.image }}</span></div>
                                        </div>
                                        <a class="dz-remove" onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form{{ object.id }}')}"  data-dz-remove>Удалить</a>
                                        <div action="{% url 'delete_model_field' %}" id="delete-form{{ object.id }}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="obj_id" value="{{ object.id }}">
                                            <input type="hidden" name="field" value="image">
                                            <input type="hidden" name="model_name" value="News">
                                            <input type="hidden" name="app_name" value="main">
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                            {% if request_post and request_post|get_item:'image' %}
                            <div class="dz-preview dz-processing dz-complete dz-image-preview">
                                <div class="dz-image">
                                    <img data-dz-thumbnail="" src="/media/{{ request_post|get_item:'image' }}" alt="{{ img }}">
                                </div>
                                <div class="dz-details">
                                    <div class="dz-filename"><span data-dz-name="">{{ img.name }}</span></div>
                                </div>
                                <a class="dz-remove" data-file="{{ img }}"
                                    onclick="var result = confirm('Want to delete?');if (result){submit_form('delete-form{{ img.id }}')}"
                                    data-dz-remove>Удалить</a>
                                <div action="{% url 'del-img' %}" id="delete-form{{ img.id }}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="key" value="{{ dropzone_key }}">
                                    <input type="hidden" name="file" value="{{ request_post|get_item:'image' }}">
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    
                    </div>
                </div>



                <div class="btn-box text-end">
                    <a href="{% url success_url %}" class="btn w-30 btn-secondary">
                        Отменить
                    </a>
                    <input type="submit" href="#" class="btn w-40 btn-primary" value="Сохранить">
                </div>
                
            </div>
        </div>
    </div>
</form>

<script src="{% static 'assets/js/new_main.js' %}"></script>

<script>
    for (let txt of document.querySelectorAll('.editor')) {
        CKEDITOR.replace(txt)
    }
</script>
<!-- Form -->
{% endblock %}